/* Шрифты */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}


/* body */
html {
  height: 100%;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

body {
  display: flex;
  margin: 0;
  flex-direction: column;
  min-height: 100%;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400; 
  color: #2D3440;
  background-color: #FEAFC3;
}
ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.button {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 20px;
  background: none;
  border: none;
  border-radius: 26px;
  background-repeat: no-repeat;
  cursor: pointer;
}
.navigation {
  display: flex;  
  width: 1033px; /*940px;*/
  margin: 0 auto;
  /*Alex*/
  flex-wrap: wrap;
  align-items: center;
}
.navigation-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 38px;
}
.navigation-item-inner{
  display: none;
  position: absolute;
  font-size: 16px;
  line-height: 20px;
  color: #2D3440;
  background-color: #FCFCFC;
  border-radius: 4px;

}
.navigation-item{
  position: relative;
  line-height: 1;
}
.navigation-user {
  max-width: 250px;
  margin-left: auto;
}
.navigation-link {
  height: 100%;
  padding: 8px 16px;
  border-radius: 26px;
  text-decoration: none;
  /*margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 20px;
  background: none;
  border: none;
  border-radius: 26px;
  background-repeat: no-repeat;
  cursor: pointer;
  color: #2D3440;
  text-decoration: none;*/
}
.navigation-link-active{
  padding: 8px 16px;
  color: #FCFCFC;
  background-color: #FF2F64;
  border-radius: 26px;
}

.button-search{
  background-image: url("../images/loupe.svg");
  background-position: center;
  min-width: 32px;
  min-height: 32px;
  border-radius: 50%;
  vertical-align: middle;
  background-color: #FCFCFC;
  display: inline-block;
}
.navigation-form-search{
  right: 0;
  max-width: 356px;
  padding: 24px 16px;
}
.navigation-item-ctlg{
  padding: 16px 0;
}
.button-enter{
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: regular;
  text-align: left;
  text-decoration: none;
  color: #2D3440;
  border-radius: 26px;
  background-image: url("../images/enter.svg");
  background-color: #FCFCFC;
  background-position: 18px;
  padding: 6px 18px 6px 40px;
  display: inline-block;
}
.navigation-form-enter{
  right: 0;
  min-width: 322;
  padding: 48px 48px 52px;
}
.button-basket{
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: regular;
  text-align: left;
  text-decoration: none;
  color: #2D3440;
  background-image: url("../images/basket-black.svg");
  border-radius: 26px;
  background-color:#FCFCFC;
  background-position: 18px;
  padding: 6px 18px 6px 40px;
  display: inline-block;
}
.navigation-form-basket{
  right: 0px;
  min-width: 344px;
  padding: 50px
}

.catalog-products{
  margin-bottom: 80px;
  text-align: center;
}
.product-title{
  font-family: "Inter", sans-serif;
  font-size: 32px;
  line-height: 46px;
  font-weight: 900;
  color: #2D3440;
}
.product-list{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 91px 30px;
}
.product-card{
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 270px;
  min-height: 250px; 
  background-color: #FCFCFC;
  border-radius: 8px;
  text-align: center;
  padding: 0 40px 25px 40px;
}
.product-card-link{
  text-decoration: none;
  display: block;
  position: relative;
  text-align: center;
}
.product-card-title {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  vertical-align: top;
  color: #2D3440;
  margin-bottom: 8px;
}
.product-card-description{
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  font-style: bold;
  text-align: center;
  vertical-align: top;
  text-decoration: none;
  color: #565C66;
  margin-bottom: 16px;
}
.contacts-address{
  font-style: normal;
}
.about-text{
  margin-bottom: 12px;
}
.about-address{
  font-size: 20px;
  line-height: 24px;
  display: inline-block;
  margin-bottom: 24px;
}
.about-phone{
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-decoration: none;
  color: #2D3440;
  margin-bottom: 24px;
}
.about-time{
  margin: 0;
  margin-bottom: 42px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}
.footer-button{
  padding: 11px 32px;
}
.page-footer{
  width: 1170px;
  display: flex;
  margin-top: 48px;
  margin-bottom: 48px;
}
.footer-social{
  display: flex;
  flex-wrap: wrap;
}
.footer-social-1{
  margin-right: 318px;
}
.footer-info{
  display: grid;
  grid-template-columns: repeat(2, auto);
  margin-right: 200px;
  min-width: 356px;
}
.footer-info-provider{
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}

.footer-heart{
  position:absolute;
  width: 14px;
  height: 14px;
  background-image: url("../images/heart.svg");
  transform: translateY(-50%);
}
