/* Шрифты */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}


/* body */
html {
  height: 100%;
  box-sizing: border-box;
  position: relative;
  overflow: auto;
  cursor: default;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.general-layout {
  margin: 0 auto;
  max-width: 1170px;
  padding: 0 15px;
}

.main-container {
  display: grid;
  row-gap: 80px;
  flex-grow: 1;
}

.body-blue {
  background-color: #69A9FF;
}

.body-yellow {
  background-color: #FCC850;
}

body {
  min-width: 1562px;
  display: flex;
  margin: 0;
  flex-direction: column;
  min-height: 100%;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #2D3440;
  background-color: #FEAFC3;
}

.button {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 20px;
  background: none;
  border: none;
  border-radius: 26px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.button-transparent {
  background-color: #FFCBD8;
}

.button-transparent:hover {
  background-color: rgba(252, 252, 252, 0.5);
}

.button-transparent:focus,
.button-transparent:focus-visible {
  background-color: rgba(252, 252, 252, 0.5);
  outline: none;
}

.button-transparent:active {
  background-color: rgba(252, 252, 252, 1);
}

.button-transparent:disabled {
  background: #FCFCFC;
  outline-color: rgba(185, 185, 185, 3.0);
  color: #2D3440;
  opacity: 0.4;
}

.button-white {
  font-weight: 700;
  color: #2D3440;
  background-clip: padding-box;
  background-color: #FCFCFC;
  text-decoration: none;
  outline: 4px solid rgba(252, 252, 252, 0.4);
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  cursor: pointer;
}

.button-white:hover {
  background-color: rgba(252, 252, 252, 0.4);
  outline: 4px solid #FCFCFC;
}

.button-white:focus-visible,
.button-white:focus {
  background-color: rgba(252, 252, 252, 0.5);
  outline: 2px solid #2D3440;
}

.button-white:active {
  background-color: rgba(252, 252, 252, 1);
}

.button-white:disabled {
  background: #E7E7E7;
  outline-color: rgba(252, 252, 252, 0.4);
  color: #B9B9B9;
  font-weight: 400;
}

.button-pink {
  color: #FCFCFC;
  font-weight: 700;
  background-clip: padding-box;
  background-color: #FF2F64;
  outline: 4px solid rgba(255, 47, 100, 0.3);
  box-shadow: 0 4px 12px 1px rgb(45 52 64 / 10%);
  cursor: pointer;
}

.button-pink:hover {
  background-color: rgba(252, 252, 252, 0.3);
  outline-color: #FF2F64;
  color: #2D3440;
}

.button-pink:focus-visible,
.button-pink:focus {
  outline: 2px solid #2D3440;
}

.button-pink:disabled {
  background: #B9B9B9;
  outline-color: rgba(185, 185, 185, 0.3);
  color: #565C66;
  font-weight: 400;
}

/* Вверх */
.logo {
  display: block;
  margin: 0 auto;
  height: 100%;
  width: 137px;

}

.page-header {
  display: flex;
  align-items: center;
  padding: 24px 15px;
}

.navigation {
  display: flex;
  width: 1033px;
  margin: 0 auto;
  flex-wrap: wrap;
  align-items: center;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 16px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-item {
  position: relative;
  line-height: 1;
}

.navigation-item-catalog {
  padding: 16px 0;
}

.navigation-item-catalog:active .navigation-item-inner,
.navigation-item:focus-within .navigation-item-inner {
  display: block;
}

.navigation-item-catalog .navigation-link {
  background-color: transparent;
  background-image: url("../images/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: right 16px center;
  border: none;
  padding: 8px 38px 8px 29px;
}

.navigation-item-catalog:focus-within .navigation-link {
  background-image: url("../images/arrow-up.svg");
  background-color: #FF4A78;
  outline: none;
}

.navigation-item-inner {
  display: none;
  position: absolute;
  font-size: 16px;
  line-height: 20px;
  color: #2D3440;
  background-color: #FCFCFC;
  border-radius: 4px;
  z-index: 2;
}

.navigation-item {
  position: relative;
  line-height: 1;
}

.navigation-link:hover {
  background-color: rgba(252, 252, 252, 0.5);
}

.navigation-link:focus-within {
  background-color: rgba(252, 252, 252, 0.5);
  outline: none;
}

.navigation-link:active {
  color: #2D3440;
}

.navigation-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  height: 100%;
  padding: 8px 16px;
  border-radius: 26px;
  text-decoration: none;
  font: inherit;
  color: inherit;
}

.navigation-link-active {
  padding: 8px 16px;
  color: #FCFCFC;
  background-color: #FF2F64;
  border-radius: 26px;
}

/*.navigation-ctlg {
  left: 0;
  top: 100%;
  padding-bottom: 10px;
  white-space: nowrap;
}*/

.navigation-item-inner {
  display: none;
  position: absolute;
  font-size: 16px;
  line-height: 20px;
  color: #2D3440;
  background-color: #FCFCFC;
  border-radius: 4px;
  z-index: 100;
}

.navigation-in-catalog-item:first-child {
  position: relative;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  font-weight: 700;
}

.navigation-in-catalog-item:first-child::after {
  position: absolute;
  display: block;


}

.navigation-in-catalog-item:not(:first-child):focus,
.navigation-in-catalog-item:not(:first-child):focus-visible {
  background-color: #FF7799;
  outline: none;
}

.navigation-in-catalog-item:not(:first-child):hover {
  background-color: #FFCBD8;
}

.navigation-in-catalog-item:not(:first-child):active {
  background-color: #FF7799;
  color: #2D3440;
}

.navigation-in-catalog-item:not(:first-child):active a {
  color: #2D3440;
}



.navigation-catalog {
  left: 0;
  top: 100%;
  padding-bottom: 10px;
  white-space: nowrap;
  list-style: none;
  padding: 0;
}

.navigation-catalog-link {
  display: block;
  height: 100%;
  font-size: 14px;
  line-height: 20px;
  padding: 6px 16px;
  color: #2D3440;
  text-decoration: none;
}

.navigation-phone {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin-left: auto;
  color: #2D3440;
  list-style: none;
  text-decoration: none;
}

.navigation-item-active:not(:last-child) {
  margin-right: 17px;
}

.navigation-user {
  margin-left: auto;
}

.button-navigation {
  background-position: center;
  min-width: 32px;
  min-height: 32px;
  vertical-align: middle;
  display: inline-block;
  border: 0;
  background-color: #FEAFC3;
}


.navigation-link-active {
  padding: 8px 16px;
  color: #FCFCFC;
  background-color: #FF2F64;
  border-radius: 26px;
}

.button-search {
  background-image: url("../images/loupe.svg");
  background-position: center;
  min-width: 32px;
  min-height: 32px;
  border-radius: 50%;
  vertical-align: middle;
  background-color: #FCFCFC4D;
  display: inline-block;
}

.navigation-form-search {
  right: 0;
  max-width: 356px;
  padding: 24px 16px;
  top: calc(100% + 8px);
  text-align: center;
}

.navigation-item-input {
  min-width: 324px;
  min-height: 48px;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}


.button-enter {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-decoration: none;
  color: #2D3440;
  border-radius: 26px;
  background-image: url("../images/enter.svg");
  background-color: #FCFCFC4D;
  background-position: 18px;
  padding: 6px 18px 6px 40px;
  display: inline-block;
}

.navigation-form-basket {
  right:0;
  min-width: 344px;
  top: calc(100% + 8px);
  padding: 50px;
}

.login {
  border: none;
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: 60px 76px 20px 20px;
  gap: 4px 23px;
}

.login-label {
  grid-column: 1/-1;
}

.login-title {
  grid-column: 1/-1;
  font-size: 32px;
  line-height: 30px;
  font-weight: 700;
  margin-bottom: 32px;
}

.login-input {
  min-width: 292px;
  margin-bottom: 16px;
  padding: 14px 16px;
  border: 1px solid #B9B9B9;
  border-radius: 4px;
  font-size: 16px;
  color: #2D3440;
  font-family: inherit;
  font-weight: 400;
  line-height: 20px;
}

.button-login {
  padding: 12px 32px;
  grid-row: -1 / -3;
}

.login-link {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #2D3440;
  text-decoration: underline;
}

.basket-text {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  padding: 0 10px;

}

/* Главная */
.gallery {
  position: relative;
  display: block;
}

.cone-product-card {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.all-sliders {
  display: flex;
  padding: 8px 0 0 0;
  position: relative;
  width: 100%;
  margin: 0;
  list-style-type: none;
}

.slider-2,
.slider-3 {
  visibility: hidden;
  position: absolute;
}

.slider {
  max-width: 470px;
  margin-right: 63px;
}

.slider-item {
  display: flex;
  align-items: center;
  padding-left: 70px;
  justify-content: space-between;
}

.cone-product-card-title {
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
  margin-bottom: 24px;
  text-align: left;
}

.cone-product-card-description {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 48px;
  width: 429px;
  text-align: left;
}

.cone-product-card-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  padding: 12px 34px;
  margin-bottom: 14px;
}

.slider-inner-picture {
  margin-left: -17px;
  margin-right: 74px;
}

.slider-inner-picture,
.slider-inner-picture-mini {
  position: relative;
  text-align: center;
  padding-top: 8px;
}

.slider-inner-picture::before {
  display: block;
  content: "";
  position: absolute;
  width: 327.15px;
  height: 312px;
  z-index: -1;
  background-color: #FFCBD8;
  border-radius: 50%;
  top: calc(50% - 312px / 2 - 0px);
  left: calc(50% - 327.15px / 2 - 5px);
}

.slider-inner-picture-mini::before {
  display: block;
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  z-index: -1;
  background-color: rgba(252, 252, 252, 0.4);
  border-radius: 50%;
  top: calc(50% - 100px/2);
  left: calc(50% - 100px/2);
}

.slider-inner-picture-mini::after {
  left: calc(50% - 66px/2);
  top: calc(50% - 150px/2);
}

.slider-inner-picture-mini:not(:last-child) {
  margin-right: 75px;
  ;
}


.product-card-button {
  width: 32px;
  height: 32px;
  background-color: #FF2F64;
  border-radius: 26px;
  background-image: url("../images/basket-white.svg ");
  background-position: center;
  outline: none;
  margin: -9px 4px 0 0;
}

.product-card-button:hover {
  background-image: url("../images/basket-black.svg");
  outline: 2px solid #FF2F64;
  outline-offset: -2px;
  background-color: rgba(252, 252, 252, 0.3);
}

.product-card-button:focus {
  background-image: url("../images/basket-white.svg");
  outline: 2px solid #2D3440;
  outline-offset: -2px;
  background-color: #FF2F64;
}

.product-card-button:disabled {
  background: #B9B9B9;
  background-image: url("../images/basket-black.svg");
}

.title {
  max-width: 527px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 47px;
}

.product-card-image {
  margin-left: auto;
  margin-right: auto;
  margin-top: -51px;
}

.footer-card {
  display: flex;
  width: 190px;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.product-card-price {
  margin-left: -3px;
  margin-right: auto;
  margin-top:-17px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}


.cone-button-prev,
.cone-button-next {
  position: absolute;
  width: 33.5px;
  height: 33.5px;
  background-position: center;
  background-repeat: no-repeat;
  outline: 2px solid #FCFCFC;
  list-style: none;
}

.cone-button-prev {
  left: -21px;
  top: 247px;
  background-color: rgba(252, 252, 252, 0.3);
  background-image: url("../images/arrow-prev.png");
}

.cone-button-prev:focus-visible,
.cone-button-prev:focus {
  background-color: rgba(252, 252, 252, 0.3);
  background-image: url("../images/foot-arrow-prev.svg");
}

.cone-button-prev:hover {
  background-color: #FCFCFC;
  background-image: url("../images/foot-arrow-prev.svg");
}

.cone-button-prev:disabled {
  background: rgba(252, 252, 252, 0.3);
  background-image: url("../images/arrow-transperent-prev.png");
  opacity: 0.4;
  border: 2px solid #FCFCFC;
}

.cone-button-next {
  right: -12px;
  top: 247px;
  background-color: rgba(252, 252, 252, 0.3);
  background-image: url(../images/arrow-next.png);
}

.cone-button-next:focus-visible,
.cone-button-next:focus {
  background-color: rgba(252, 252, 252, 0.3);
  background-image: url("../images/foot-arrow-next.svg");
}

.cone-button-next:hover {
  background-color: #FCFCFC;
  background-image: url("../images/foot-arrow-next.svg");
}

.cone-button-next:disabled {
  background: rgba(252, 252, 252, 0.3);
  background-image: url("../images/arrow-transperent-next.png");
  opacity: 0.4;
  border: 2px solid #FCFCFC;
}

.footer-slider {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: -7px;

  list-style-type: none;
}

.pagination-mini {
  display: flex;
  list-style-type: none;
  padding: 8px 0 0 0;
  margin: 0;
}

.pagination-mini-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: rgba(252, 252, 252, 0.3);
}

.pagination-active {
  background-color: #FCFCFC;
}

.pagination-link:hover {
  outline: 1px solid #FCFCFC;
}

.pagination-link:focus-visible,
.pagination-link:focus {
  outline: 1px solid #2D3440;
}

.footer-social-slider {
  /*display: flex;
  flex-wrap: wrap;*/
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  position: relative;
  top: -11px;
  left: -45px;
  margin-left: auto;
  margin-right: 0;
  list-style-type: none;
}

.footer-social-item {
  max-width: 24px;
  max-height: 24px;
}

/*.footer-social-item:not(:last-child) {
  margin-right: 15px;
}*/

.footer-social-link {
  display: inline-block;
  width: 24px;
  height: 24px;
  border: 2px solid rgba(252, 252, 252, 0.2);
  background-position: center;
  box-shadow: 0 4px 12px 1px rgb(45 52 64 / 10%);
  background-clip: padding-box;
  margin: 0;
  padding: 0;
}

.footer-social-link:hover {
  background-color: #2D3440;
}

.footer-social-link:focus-visible,
.footer-social-link:focus {
  border: 2px solid #2D3440;
  background-color: #2D3440;
  outline: none;
}

.footer-social-vk {
  background-image: url("../images/vk.svg");
}

.footer-social-telegramm {
  background-image: url("../images/telegram.svg");
}

.footer-social-yt {
  background-image: url("../images/youtube.svg");
}

.gift-catalog {
  display: flex;
  width: 1170px;

  padding-bottom: 1px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 55px;
}

.main-inner .product-card-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 18px;
}

.main-inner .product-card-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.gift-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0;
  padding: 0;
  grid-gap: 30px;
}

.gift-card-first {
  padding: 14px 0 24px 36px;
  text-align: left;

}

.gift-card-second {
  margin-left: 0;
  display: flex;
  align-items: flex-end;
}

.gift-card {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  border-radius: 16px;
  max-width: 570px;
  background-color: #FF7799;
}

.gift-card-title {
  font-weight: 700;
  line-height: 30px;
  font-size: 24px;
}

.gift-card-button {
  padding: 12px 32px;
}

.catalog-products {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 56px;

}

.inner-header-title {
  margin: 53px 0 55px 368px;
  max-width: 434px;
  font-size: 32px;
  font-weight: 900;
  line-height: 46px;
  text-align: center;
}

.catalog-products {
  margin-bottom: 80px;
  text-align: center;
}

.product-title {
  font-family: "Inter", sans-serif;
  font-size: 32px;
  line-height: 46px;
  font-weight: 900;
  color: #2D3440;
  margin: 0 0 51px -12px;
}

.catalog-products {
  margin-bottom: 0;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 91px 30px;
  max-width: 1170px;
  margin: 0;
  padding: 0;
}

.product-card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 250px;
  background-color: #FCFCFC;
  border-radius: 8px;
  text-align: center;
  padding: 0 40px 25px 40px;

}

.product-card-link {
  text-decoration: none;
  display: block;
  position: relative;
  text-align: center;
  margin-top: -4px;
}

.product-card-title {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  vertical-align: top;
  color: #2D3440;
  margin-bottom: 8px;
}

.product-card-description {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  vertical-align: top;
  text-decoration: none;
  color: #565C66;
  margin-bottom: 16px;
}

.catalog-product-list {
  min-width: 1170px;
  min-height: 1076px;
}


.navigation-list .button:hover {
  background-color: #FF4A78;
}

/*.navigation-item-ctlg:hover .navigation-item-inner,
.navigation-item:focus-within .navigation-item-inner {
  display: block;
}*/

.navigation-form-enter {
  top: calc(100% + 8px);
  right: 0;
  min-width: 322px;
  padding: 48px 48px 52px;
}

.button-basket {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-decoration: none;
  color: #2D3440;
  background-image: url("../images/basket-black.svg");
  border-radius: 26px;
  background-color: #FCFCFC4D;
  background-position: 18px;
  padding: 6px 18px 6px 40px;
  display: inline-block;
}

.catalog-button {
  font-weight: 700;
  color: #2D3440;
  background-clip: padding-box;
  background-color: #FCFCFC;
  outline: 4px solid rgba(252, 252, 252, 0.4);
  box-shadow: 0 4px 12px 1px rgb(45 52 64 / 10%);
  margin-left: 494px;
  padding: 12px 35px;
}

.footer-inner-pagination {
  display: flex;
  align-items: center;
}

.footer-pagination-item {
  border-radius: 50%;
}

.footer-pagination-prev {
  background-image: url("../images/Arrow-left.svg");
  background-position: center;
}

.footer-pagination-next {
  background-image: url("../images/foot-arrow-next.svg");
}

.footer-pagination-prev,
.footer-pagination-next {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
  text-align: center;
  line-height: 1.5;
  cursor: pointer;
}

.footer-pagination-link {
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  text-align: center;
  line-height: 1.5;
  cursor: pointer;
}

.pagination-current,
.footer-pagination-link:active {
  background: #FCFCFC;
}

.footer-pagination-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-pagination-item:not(:last-child) {
  margin-right: 2px;
}

.footer-pagination-link {
  min-width: 24px;
  max-height: 24px;
  padding: 2px 4px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2D3440;
  text-decoration: none;

}

.footer-pagination-item:not(:last-child, :first-child):hover {
  background-color: rgba(252, 252, 252, 0.5);
}

.footer-pagination-item:nth-child(2) {
  background-color: #FCFCFC;
}


.footer-pagination-link:focus {
  outline: 1px solid #2D3440;
  background-color: rgba(252, 252, 252, 0.3);
}

.footer-inner-pagination {
  display: flex;
  align-items: center;

}

.catalog-button:hover {
  background-color: rgba(252, 252, 252, 0.5);
}

.catalog-slider {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
}

.gift-card-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  padding-top: 4px;
  padding-bottom: 26px;
}

.index-columns {
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
}

.catalog-filter {
  margin-right: 24px;
}

.catalog-filter-title {
  display: inline-block;
  margin-bottom: 8px;
  padding-left: 16px;
}

/* advantages */
.advantages {
  display: block;
  background-color: #FCFCFC;
  background-image: url("../images/wafel.jpg");
  padding: 24px;
  border-radius: 26px;
  background-size: cover;
}

.advantages-wrapper {
  background-color: #FCFCFC;
  padding-bottom: 45px;
  border-radius: 26px;
}


.advantages-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px 0;
  text-align: left;
  margin-top: 56px;
  list-style-type: none;
}

.advantages-item {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  font-style: normal;
  vertical-align: top;
  text-decoration: none;
  color: #565C66;
  padding-left: 64px;
  min-height: 66px;
  max-width: 505px;
  background-size: 48px 48px;
  background-repeat: no-repeat;

}

.advantages-ice-cream {
  background-image: url("../images/ice-cream.svg");
}

.advantages-leaf {
  background-image: url("../images/leaf.svg");
}

.advantages-cow {
  background-image: url("../images/cow.svg");
}

.advantages-temp {
  background-image: url("../images/thermometer.svg");
}

.advantages-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
  vertical-align: top;
  padding-top: 56px;
  margin: 0;
}

.advantages-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #565C66;
  max-width: 505px;
  max-height: 66px;
  min-height: 66px;
  min-width: 505px;
}

.advantages-description-2 {
  margin-top: 100px;
  color: #565C66;
  max-width: 505px;
  max-height: 66px;
  min-height: 66px;
  min-width: 505px;
}

.advantages-title {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
}

.page-footer {
  display: flex;
  width: unset;
  height: 153px;
  padding: 0 98px;
  justify-content: center;
  align-items: center;
}

.page-footer .htmlacademy-link {
  color: #2D3440;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}


.newsletter-advice {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.blog {
  background-image: url("../images/advice.jpg");
  background-color: #FCFCFC;
  max-width: 570px;
  max-height: 225px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 16px;
  padding: 32px 235px 32px 32px;
  background-size: cover;
  box-sizing: border-box;
}

.blog-title {
  color: #565C66;
  margin-bottom: 12px;
}

.blog-link {
  font-family: "inter", sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #2D3440;
  font-style: normal;
  text-align: left;
  display: block;
  width: 303px;
}

.mailing {
  display: block;
  box-sizing: border-box;
  max-width: 570px;
  max-height: 225px;
  background-image: url("../images/stripe.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
  background-position: center;
  padding: 6px;
}

.newsletter-mailing {
  display: grid;
  grid-column: 1 /-1;
  padding: 26px;
  width: 556px;
  height: 100%;
  background-color: #FCFCFC;
  border-radius: 16px;
  margin: 0 auto;
  box-sizing: border-box;
  /*min-width: 570px;
  min-height: 224px;
  max-width: 570px;
  max-height: 224px;*/
}
.newsletter-form {
  display: grid;
  grid-template-columns: 1fr 152px;
  gap: 18px;
}

.newsletter-title {
  font-family: "inter", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #565C66;
  margin-bottom: 42px;

}

/*.field {
  color: #2D3440;
  font-size: 16px;
  width: 296px;
  /*margin-right: 25px;
  padding: 13px 16px;
  border-radius: 4px;
  margin-left: 26px;
  border: 1px solid #B9B9B9;
}

.field:focus,
.field:focus-visible {
  outline: 2px solid #EA5454;
}

.field:hover {
  outline: 2px solid #EA5454;
}*/

.newsletter {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  border-radius: 26px;
}

.footer-social {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.newsletter-advice .newsletter-description {
  font-family: "inter", sans-serif;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #2D3440;
  margin-left: 32px;
  margin-top: 12.22px;
  max-width: 303px;
}

.newsletter-section {
  background-color: #FCFCFC;
  margin: 6px;
  min-width: 558px;
  max-width: 558px;
  min-height: 212px;
  max-height: 212px;
  border-radius: 26px;
}

.newsletter-section p {
  width: 506px;
  height: 66px;
  padding-top: 26px;
  margin-left: 26px;
  margin-bottom: 42px;
}


.newsletter-button {
  /*position: absolute;*/
  width: 152px;
  height: 44px;
  padding: 12px 32px;
}


.footer-contacts-1 {
  display: grid;
  grid-template-columns: auto 500px;
  gap: 135px;
  align-items: center;
  background-image: url("../images/back-ground-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
  padding: 64px 64px 86px 100px;
}

.delivery-inner {
  padding-top: 8px;
}

.delivery-title {
  font-size: 32px;
  line-height: 46px;
  font-weight: 900;
  margin-bottom: 24px;
}

.delivery-advice {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}

.delivery-contacts-address {
  padding: 40px;
  padding-bottom: 42px;
  background: #FCFCFC;
  box-shadow: 0 15px 40px;
  border-radius: 8px;
}

.contact-form {
  display: grid;
  grid-template-columns: 117px 1fr;
  gap: 16px 17px
}

.delivery-contacts-advice {
  grid-column: 1/-1;
  padding: 0;
  margin-bottom: 15px;
}

.contact-form-name {
  display: block;
  font-weight: 700;
  line-height: 20px;
}

.form-input {
  box-sizing: border-box;
  width: 100%;
  margin-top: 8px;
  padding: 16px 16px 15px;
  border: 1px solid #B9B9B9;
  border-radius: 4px;
  color: #2D3440;
  font-size: 16px;
  line-height: 20px;
  font-family: inherit;
  font-weight: 400;

}

.form-input:first-child {
  gap: 16px;
}

.form-address {
  grid-column: 1/-1;
}

.footer-button {
  margin-top: 8px;
  padding: 12px 33px;
  grid-column: 1/-1;
  justify-self: center;
}

.contacts {
  display: block;
  box-sizing: border-box;
  padding: 64px 763px 64px 64px;
  background-repeat: no-repeat;
  border-radius: 16px;
  background-image: url("../images/back-ground-2.jpg");
  background-size: cover;
}

.contacts-inner {
  background: #FCFCFC;
  border-radius: 8px;
  padding: 40px;
  box-shadow: 0 8px 16px 0 rgba(45, 52, 64, 0.12);
}

.contacts-address {
  font-style: normal;
}

.about-text {
  margin-bottom: 12px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.about-address {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  display: inline-block;
  margin: 0;
}

.about-phone {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-decoration: none;
  color: #2D3440;
  margin-bottom: 24px;
}

.about-time {
  margin: 0;
  margin-bottom: 42px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.footer-button {
  padding: 11px 32px;
}

.modal:target {
  display: flex;
  pointer-events: auto;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: none;
  background: rgba(0, 0, 0, 0.3);
  pointer-events: none;
}

.modal-window {
  position: relative;
  width: 570px;
  margin: auto;
  padding: 64px;
  background-color: #FCFCFC;
  border-radius: 4px;
}

.modal-window-close {
  position: absolute;
  top: 32px;
  right: 32px;
  width: 12px;
  height: 12px;
}

.modal-window-close::before {
  transform: rotate(45deg);
}

.modal-window-close::after {
  transform: rotate(-45deg);
}

.modal-window-close::before,
.modal-window-close::after {
  content: "";
  position: absolute;
  top: 7px;
  right: 0;
  width: 11px;
  height: 1.5px;
  background-color: #2D3440;
}

.modal-window-inner {
  display: flex;
  flex-direction: column;
}

.modal-window-title {
  font-weight: 700;
  line-height: 30px;
  font-size: 24px;
  margin-bottom: 32px;
}

.modal-window-input {
  font-size: 16px;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 16px;
  padding: 14px 16px;
  border-radius: 4px;
  border: 1px solid #B9B9B9;
  font-family: inherit;
  font-weight: 400;

  line-height: 20px;
}

.window-text {
  min-height: 149px;
  font-family: inherit;
}

.modal-window-button {
  align-self: flex-end;
  margin-top: 16px;
  padding: 12px 32px;
}

.footer-social-fb {
  background-image: url(../images/fb.svg);
}

.footer-social-1 {
  margin-right: 318px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

.footer-info {
  display: grid;
  grid-template-columns: repeat(2, auto);
  margin: 0;
  margin-right: 200px;
  min-width: 356px;
  row-gap: 8px;
  list-style: none;
}

.footer-info-provider {
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  color: #2D3440;
  text-decoration: none;
}

.footer-info-link {
  color:#2D3440;
  text-decoration: none;
}

.footer-heart {
  position: relative;
  font-weight: 700;
}

.footer-heart::before {
  position: absolute;
  content: "";
  top: 43%;
  left: -22px;
  width: 14px;
  height: 14px;
  background-image: url("../images/heart.svg");
  transform: translateY(-50%);
}

/*catalog*/
.inner-header {
  margin-top: 0;
  margin-bottom: 40px;
}

.inner-header-title-catalog {
  font-family: "Inter", sans-serif;
  font-size: 32px;
  font-weight: 900;
  line-height: 46px;
  font-style: normal;
  color: #2D3440;
  margin: 0;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  margin-top: 23px;
  margin-bottom: 16px;
}

.breadcrumbs-item :first-child {
  text-decoration: underline;
}

.breadcrumbs-item:not(:last-child) {
  margin-right: 9px;
  padding-right: 20px;
  background-image: url("../images/arrow-black.svg");
  background-repeat: no-repeat;
  background-position: right 9px;
  text-decoration: none;
}

.breadcrumbs-link {
  color: inherit;
  text-decoration: none;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}

.product-inner {
  margin-bottom: 56px;
}

.catalog-form {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 95px;
}

.catalog-filter {
  margin-right: 24px;
  border-width: 0;
}

.catalog-filter-title {
  display: inline-block;
  margin-bottom: 8px;
  padding-left: 16px;
}

.select-control {
  background-image: url("../images/arrow-down.svg");
  margin-bottom: 16px;
  padding: 11px 61px 11px 16px;
  /*border: none;*/
  background-position: 93% center;
  background-color: rgba(252, 252, 252, .2);
  border-radius: 20px;
  font-family: inherit;
  font-size: inherit;
  appearance: none;
  background-repeat: no-repeat;
  cursor: pointer;
  border: 2px;
}

.select-control:focus-visible,
.select-control:focus {
  outline-color: #FFFFFF;
}

.select-control:hover {
  background-color: rgba(252, 252, 252, 0.5);
}

.range-price {
  display: flex;
}

.range-price-filter {
  padding-left: 0;
}

.range-input {
  width: 26px;
  padding: 0 2px;
  font: inherit;
  text-align: center;
  border: none;
}

.range-price {
  display: flex;
}

.range-price-filter {
  padding-left: 0;
}

.range-input {
  width: 26px;
  padding: 0 2px;
  font: inherit;
  text-align: center;
  background-color: transparent;
  border: none;
}

.range-price-toddler {
  padding: 16px 16px;
  background-color: rgba(252, 252, 252, .2);
  border-radius: 20px;
}

.range-toddler {
  width: 164px;
}

.range-scope {
  position: relative;
  height: 2px;
  background-color: rgba(34%, 36%, 40%, 0.3);
  border-radius: 2px;
}

.range-rail {
  position: absolute;
  width: 70px;
  left: 35px;
  height: 2px;
  background-color: #565C66;
}

.range-toggle {
  position: absolute;
  min-width: 16px;
  min-height: 16px;
  max-width: 16px;
  padding: 0;
  background: #FFFFFF;
  border: 6px solid #242424;
  border-radius: 50%;
  cursor: pointer;
}

.range-toggle:hover {
  border-color: #FFFFFF;
  background: #242424;
}

.range-toggle:active {
  background: #242424;
  border: none;
}

.range-toggle:focus-visible,
.range-toggle:focus {
  outline: 2px solid #242424;
}

.toggle-min {
  top: -6px;
  left: -10px;
}

.toggle-max {
  top: -6px;
  right: -10px;
}

.fat-checkbox {
  display: flex;
  flex-wrap: wrap;
  padding: 9px 28px 9px 21px;
  background-color: rgba(252, 252, 252, .2);
  border-radius: 20px;
  margin: 0;
  list-style: none;
}

.fat-checkbox-item:not(:last-child) {
  margin-right: 14px;
  ;
}

.fat-checkbox-control {
  padding-left: 27px;
  cursor: pointer;
}

.fat-control-input {
  position: absolute;
  appearance: none;
}

.fat-control-type {
  position: absolute;
  margin-left: -23px;
  margin-top: 2px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid #2D3440;
}

.fat-control-type:hover{
  border: 2px solid #FCFCFC;
}
input:focus + .fat-control-type {
  border: 2px solid #FCFCFC;
}


.fat-control-type:disabled {
  border: 2px solid #000000;
}

.select-control {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.fat-control-type::before {
  position: absolute;
  content: "";
  display: none;
  transform: translateX(50%) translateY(50%);
  width: 6px;
  height: 6px;
  background-color: #2D3440;
  border-radius: 50%;
}

.fat-control-type:hover::before {
  background-color: #FCFCFC;
}

input:focus + .fat-control-type::before{
  background-color: #FCFCFC;
}

.fat-control-type:disabled::before {
  border: 2px solid #FCFCFC;
}
.fat-control-type:disabled:focus {
  border: 2px solid #FCFCFC;
}

.fat-control-input:checked+.fat-control-type::before {
  display: block;
}

.filler-checkbox {
  display: flex;
  flex-wrap: wrap;
  padding: 5px 26px 8px;
  background-color: rgba(252, 252, 252, .2);
  border-radius: 20px;
  margin: 0;
  list-style: none;
}

.filler-control-type {
  background-image: url("../images/checkbox.svg");
}

.filler-control-input:checked+.filler-control-type {
  background-image: url("../images/check-on.svg");
}

.filler-checkbox-item-checkbox:hover .filler-control-type {
  background-image: url("../images/checkbox-white.svg");
}

.filler-checkbox-item-checkbox:hover .filler-control-input:checked+.filler-control-type {
  background-image: url("../images/check-on-white.svg");
}

input:focus + .filler-control-type {
  background-image: url("../images/checkbox-white.svg");
}

input:checked:focus + .filler-control-type {
  background-image: url("../images/check-on-white.svg");
}

.filler-checkbox-item-checkbox:not(:last-child) {
  margin-right: 12px;
}

.filler-checkbox-control {
  padding-left: 28px;
  cursor: pointer;
}

.filler-control-input {
  position: absolute;
  appearance: none;
}

.filler-control-type {
  position: absolute;
  margin-left: -28px;
  margin-top: 2px;
  width: 16px;
  height: 16px;
}

.catalog-form-btn {
  align-self: flex-end;
  margin-bottom: -1px;
  margin-left: -11px;
  padding: 8px 53.5px;
  font-size: 14px;
  font-weight: 700;
  outline: 2px solid #FCFCFC;
  border-radius: 20px;
  background-color: #FCFCFC4D;
}
.catalog-form-btn:hover{
  outline: 4px solid #FCFCFC;
}
fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.disabled {
  fill: #2D3440;
}

/*корзина полная*/
.full-basket .button-basket-full {
  background-image: url("../images/basket-black.svg");
}

.button-basket-full {
  padding: 6px 16px 6px 38px;
  background-position: 18px;
  width: auto;
}

.full-basket .basket-text {
  margin-bottom: 32px;
  padding: 0;
  text-align: left;
}

.full-basket {
  min-width: 115px;
  height: 32px;
}

.navigation-basket-list {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 64px;
}

.goods {
  display: flex;
  align-items: center;
}

.goods:not(:last-child) {
  margin-bottom: 24px;
}

.goods-img {
  margin-bottom: 16px;
  margin-right: 16px;
  border-radius: 50%;
}

.goods-info {
  display: flex;
  flex-direction: column;
  margin-right: auto;
}

.goods-name {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

.goods-number {
  font-size: 14px;
  line-height: 20px;
  color: #B9B9B9;
}

.goods-price {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  margin-left: 26px;
}

.goods-button {
  position: relative;
  margin-left: auto;
  width: 40px;
  height: 40px;
  background-image: url(../images/x.svg);
  background-position: center;
}

.navigaion-order-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation-order-footer-button {
  padding: 12px 32px;
}

.navigation-order-footer-total {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

.copyright-text {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}
/*исправленная доставка*/
.delivery-form {
  grid-template-columns: 117px 287px;
  margin: 0;
  padding: 40px;
  display: grid;
  gap: 32px 16px;
  background-color: #FCFCFC;
  border-radius: 8px;
}
.form-description {
  grid-column: 1 / -1;
  color: #565C66;
  margin: 0;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-weight: 700;
  gap: 8px;
}

.form-group.form-group-full {
  grid-column: 1 / -1;
  margin-top: -15px;
}

.form-button {
  grid-column: 1 / -1;
  justify-self: center;
  padding: 12px 32px;
}

.tooltip {
  position: absolute;
  margin-top: 4px;
  margin-left: 4px;
  width: 14px;
  height: 14px;
}


.tooltip-text::before {
  content: "";
  border-left: inherit;
  border-bottom: inherit;
  background-color: inherit;
  transform: rotate(45deg);
  position: absolute;

}

.tooltip-toggle {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  display: block;
}

.tooltip-text {
  color: #565C66;
  background-color: #FCFCFC;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  text-transform: none;
  padding: 10px 15px 10px 8px;
  border-radius: 8px;
  /*display: block;*/
  width: 146px;
  bottom: 100%;
  position: relative;
  margin-left: 15px;
  margin-top: -13px;
  display: none;
  stroke: #B9B9B9;
  border: 1px solid #B9B9B9;
  filter: drop-shadow(0 4px 8px rgba(194, 194, 194, 0.20));
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}
.field {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  color: #B9B9B9;
  padding: 14px 16px;
  line-height: 20px;
  border-radius: 4px;
  border: 1px solid #B9B9B9;
  background: #FFFFFF;
  box-sizing: border-box;
  width: 100%;
}

.field:focus {
  color: #2D3440;
  border: 2px solid #2D3440;
}

.field:hover {
  border: 1px solid #2D3440;
}
